[run]
source = src
omit =
    src/__init__.py
    src/utils/__init__.py
    src/feature_extractor/__init__.py
    src/data_processors/__init__.py
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except Exception as e:
    logger.error

[html]
directory = coverage_html 